body {
    font-family: "Roboto Condensed";
}
#HEAD #text a {
    text-decoration: none;
    color: white;
}
#pic {
    border-top: solid 25px #F2F3EC;
    background-image: url(../assets/big_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;
    width: 100%;
}
#pic #semply {
    padding-top: 17px;
    font-size: 3vw;
}
#marketing {
    font-size: 1.4vw;
    font-style: italic;
}
#post {
    border-top: 25px solid #F2F3EC;
    padding: 60px;
}
#post p {
    font-size: 1em;
    color: #a8a2a2
}
#button {
    border: 16px solid;
    background-color: #1d1b1b;
    border-color: #1d1b1b;
    border-radius: 180px;
    color: white;
    font-size: 2em;
    width: 130px;
}
#box {
    border-top: 19px solid;
    border-color: white;
    height: 180px;
    width: 100%
}
#box p {
    display: inline;
    text-align: center;
}
#marker p {
    font-size: 1em;
    color: #a8a2a2;
}
#screw p {
    font-size: 1em;
    ;
    color: #a8a2a2;
}
#envelop p {
    font-size: 1em;
    color: #a8a2a2;
}
#box1 p {
    font-size: 1.5em;
    color: #a8a2a2;
}
#text p {
    font-size: 14px;
    color: #a8a2a2;
}
#copyright {
    font-size: 1.5em;
    color: #baba1c;
    text-align: center;
}
#footer a {
    text-decoration: none;
    color: #baba1c
}
.row {
    max-width: 1350px;
}
.text {
    border-top: 25px solid #F2F3EC;
    text-align: center;
}
.row {
    max-width: 1300px;
}
#GNOME h1 {
    color: yellow;
}
.img {
    width: 90%;
}
.pad {
    padding: 60px;
}
.advtis {
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
    color: #FDFFFD;
    background-color: #43FF4F;
}
.belowad {
    border-top: 25px solid #F2F3EC;
    padding: 60px;
    font-size: 1.5em;
    color: #A4A4A4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}
#copyright a {
    color: #baba1c;
    display: inline;
}
.footer {
    height: 230px;
}
.title {
    background-color: #37373C;
}
#text {
    font-size: 1.5em;
    color: #B5B5B5;
}
#text a {
    color: white;
}
.head h1 {
    padding-top: 12px;
    font-size: 9vw;
    color: yellow;
}
.logs {
    width: 20%;
}
