/*#all {*/

border-left:173px solid;
border-right:173px solid;

}
.HEAD {
    /*    border-color: #363434;*/

    background-color: #363434;
    /*    color: yellow;*/
    /*    font-size: 50px;*/
}
#HEAD h1 {
    padding: 15px;
    font-size: 7em;
}
#HEAD #text a {
    text-decoration: none;
    color: white;
}
#pic {
    border-top: solid 25px #F2F3EC;
    background-image: url(../assets/big_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
}
#pic #semply {
    /*    border-style: solid 5px #b2a3a3;*/

    padding-top: 17px;
    /*    font-style: italic;*/

    font-size: 2em;
}
#marketing {
    /*    padding-left: 10px;*/
    /*    padding-bottom: 127px;*/
    /*    padding-right: -5px;*/
    /*    width: 28%;*/

    font-size: 1.1em;
    font-style: italic;
}
#post {
    border-top: 25px solid #F2F3EC;
    padding: 60px;
}
#post p {
    font-size: 1em;
    color: #a8a2a2
}
#button {
    border: 16px solid;
    background-color: #1d1b1b;
    border-color: #1d1b1b;
    border-radius: 180px;
    color: white;
    font-size: 2em;
    width: 130px;
}
#box {
    border-top: 19px solid;
    border-color: white;
    height: 180px;
    width: 100%
}
#box p {
    display: inline;
    text-align: center;
}
#marker p {
    font-size: 1em;
    color: #a8a2a2;
}
#screw p {
    font-size: 1em;
    ;
    color: #a8a2a2;
}
#envelop p {
    font-size: 1em;
    color: #a8a2a2;
}
#box1 p {
    font-size: 1.5em;
    color: #a8a2a2;
}
#text p {
    font-size: 14px;
    color: #a8a2a2;
}
.fo {
    border: solid 19px azure;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
#footer {
    background-color: #393434;
    border: solid 19px;
    border-top-width: 38px;
    color: #393434;
}
#footer #copyright {
    color: #baba1c;
}
#footer a {
    text-decoration: none;
    color: #baba1c
}
.row {
    max-width: 1350px;
}
.border {}
.text {
    border-top: 25px solid #F2F3EC;
    text-align: center;
}
.row {
    max-width: 1300px;
}
#GNOME {
    color: yellow;
}
.img {
    width: 90%;
}
.pad {
    padding: 60px;
}
.advtis {
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
    color: #FDFFFD;
    background-color: #43FF4F;
}
.belowad {
    padding: 60px;
    font-size: 1.5em;
    color: #A4A4A4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}
