#all {
    border-left:173px solid;
    border-right:173px solid;
}
#HEAD {
    border-color: #363434;
    background-color: #363434;
    display: in
    
    
    
}
#HEAD #GNOME{
    color: yellow;
    font-size:50px;
    padding-top:40px;
    padding-left:17px;
    padding-bottom:17px;
    padding-right: -5px;
    width:39%
}


#HEAD #text{
    
    display:block;
    float: right;
    height: 1px;
    color:whit;
    padding-bottom:10px;
    font-size: 11px
}
#HEAD #text a{
    text-decoration: none;
    color:whit;
    
    
}
#pic {
    background-image: url(assets/big_img.jpg);
    background-repeat: no-repeat;
    font-size: 13px;
    
    
    
}
#pic #semply{
    border-style: solid 5px #b2a3a3;
    border-top: 19px solid;
    border-color: azure;
    padding-left:17px;
    padding-top: 17px;
    padding-bottom: 0;
    font-size: 19px;
    font-style: italic;
    padding-right: 10px;
}
#marketing {
    padding-left:10px;
    padding-bottom:127px;
    padding-right: -5px;
    width:28%;
    font-size: 7px;
}
 
#post{
    border-top: 19px solid;
    border-color: azure;
    padding: 20px;
        
}
#post p{
    font-size:14px;
    color: #a8a2a2
}
#button{
    border: 7px solid;
    background-color: #1d1b1b;
    border-color: #1d1b1b;
    border-radius:180px;
    color: white;
    
}

#box{
    border-top: 19px solid;
    border-color: azure;
    height: 180px;
    
}
#box #marker{
    display: block;
    padding:19px;
    border: 12px solid;
    width: 23%;
}
#box #marker #img{
    padding-left:40px;
}
#box #marker p{
    font-size: 12px;
    color:#a8a2a2;
    text-align: center;
    
}